*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    background: #000;
    background-image: linear-gradient(90deg, #e5ee55, #226f6f);
 }
 .container{
    padding: 30px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #191a19;
    max-width: 500px;
    margin: 50px auto;
    background: #23ee55;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

.uploader-section{
    padding: 10px;
    margin: 5px;
}
.uploader-section label{
    font: bold;
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.uploader-section #description{
    width: 100%;
    height: 2.5rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    padding: 15px;
}