*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 500px;
    background: #e4e2e2b2;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 1em;
    box-shadow: 5px 5px 5px black;
    padding: 1.2rem;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(168, 36, 168, 0.945);
}

.balance{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 .5rem;
    .your-blance{
        font-size: 1.7rem;
        font-weight: bold;
        padding: 0.5rem;
    }
    #balance-amount{
        font-size: 1.5rem;
        font-weight: bold;
        color: rgba(168, 36, 168, 0.945);
    }
}

.income-expenses{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: bold;
    #income-data, #expenses-data{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        margin: 1rem 0 .7rem;
    }
    #income-data{
        background: #d6d3d3;
        box-shadow: 5px 5px 5px #a3a3a3;
        .income-text{
            padding: 1rem;
        }
        #income-amount{
            padding: 0.5rem;
        }
    }
    #expenses-data{
        background: #f7c5c5;
        box-shadow: 5px 5px 5px #a3a3a3;
        .expenses-text{
            padding: 1rem;
        }
        #expenses-amount{
            padding: 0.5rem;
        }
    }
}
.amount-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#add-logo{
    background: purple;
    color: #fff;
    padding: 1px;
    border-radius: 5px;
    transition: .3s ease-in-out;
}
#add-logo:hover{
    cursor: pointer;
    background-color: #ddd;
    color: white;
    transform: scale(1.1);
}

.add-transaction-container{
     padding-top: 1rem;
     padding-bottom: 1rem;
     .description-section{
        display: flex;
        flex-direction: column;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        label{
            font-weight: bold;
        }
        input{
            border-radius: 5px;
            width: 100%;
            height: 30px;
            padding: 5px;
            margin-top: 5px;
            display: flex;
            align-items: center;
            border: none;
            outline: none;
        }
       
     }
     .amount-section{
        display: flex;
        flex-direction: column;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        label{
            font-weight: bold;
        }
        input{
            border-radius: 5px;
            width: 100%;
            height: 30px;
            padding: 5px;
            margin-top: 5px;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            border: none;
            outline: none;
        }
     }
}
#description-text::placeholder{
     padding: 5px;
    font-size: 20px;
    font-weight: 500;
}

#amount::placeholder{
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
}
.add-transaction-container button{
    background: purple;
    color: #fff;
    font-weight: 400;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.transaction-history-container{
    width: 100%;
    h3{
        margin-top: 5px;
        margin-bottom: 1rem;
        color: purple;
    }
    .history-data{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 17px;
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 1rem;
    }
}
ul{
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#expenses-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#expenses-list .firstLiTag{
    font-size: 12px;
    font-weight: bold;
}
